@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/*Layout*/
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-section {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section {
  width: 52rem;
  font-size: 2rem;
}
/*Elements Style*/
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 23%;
}
.secret-number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  height: 13rem;
  padding: 4rem 4.5rem;
  position: absolute;
  text-align: center;
  bottom: -35%;
  left: 42%;
}
.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.button {
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 2rem;
  cursor: pointer;
}
.button:hover {
  background-color: #ccc;
}
.start-guessing {
  margin-bottom: 3rem;
}
.guessed-number {
  border: 4px solid #eee;
  background-color: inherit;
  font-family: inherit;
  color: #eee;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  margin-bottom: 3rem;
  text-align: center;
}
